[user]
	email = AshrefGw@proton.me
	name = AshGw
[core]
	editor = nvim

[init]
  defaultBranch = main

[alias]
    a = add .
    p  = push origin
    pu  = pull origin
    pprune =  pull --prune
    st  = status
    df  = diff
    c = commit -am
    ci  = commit -s
    w   = whatchanged --abbrev-commit
    r = rebase -i
    ls  = ls-files
    unadd = reset HEAD
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend
    l  = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
