[submodule "gnome"]
    path = gnome
	url = https://github.com/ashgw/gnome.git

[submodule ".icons"]
    path = .icons
	url = https://github.com/ashgw/icons.git

[submodule ".themes"]
    path = .themes
    url = https://github.com/ashgw/themes.git

[submodule "personal"]
    path = personal
    url = https://github.com/ashgw/personal.git

[submodule ".wallpapers"]
    path = .wallpapers
    url = https://github.com/ashgw/wallpapers.git

[submodule ".aws"]
    path = .aws
    url = https://github.com/ashgw/aws.git
